@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Prompt:wght@800&display=swap');

body {
    background-color: #000000;
    margin: auto;
    width: 60%;
    font-family: 'Open Sans', sans-serif;
    font-size: 12pt;
    color: #929292;

}

td.intro {
    line-height: 20px;
    text-align: justify;
    padding-right: 50p;
}

table.portfolio {
    max-width: 20%;
    margin: auto;

    font-size: 10pt;
}


nav {
    width: 100%;
    padding: 10px;
    margin-top: 30px;
}

nav table {
    text-align: center;
    margin: auto;
    width: 30%;
}

a {
    text-decoration: none;
    color: #c1c1c1;
}

a:hover {
    color: #ff9500;
}

social-media table {
    text-align: center;
    margin: auto;
    width: 16%;
    margin-top: 20px;
    margin-bottom: 20px;
}

social-media img {
    max-width: 25px;
}

img.icon {
    max-width: 18px;
    padding: 5px;
}

hr {
    max-width: 55%;
    border-color: #ff9500;
}

h1 {
    font-family: 'Prompt', sans-serif;
    font-size: 42pt;
    color: #929292;
    text-align: center;
    margin-bottom: 0px;
    margin-top: 0px;
}

dot {
    color: #ff9500;
    font-size: 64pt;
    padding-left: 6px;
    padding-bottom: 0px;
}

footer {
    padding-top: 20px;
    font-size: 10px;
    text-align: center;
    color: #929292;
}

img.portrait {
    float: left;
    max-width: 70px;
    padding-right: 10px;
}

img.project {
    max-width: 500px;
    padding: 10px;
    border-radius: 20px;
}

img.gif-left {
    max-width: 200px;
    padding: 10px;
    float: left;
    border-radius: 20px;
}


@media screen and (max-width: 800px) {

    body {
        width: 100%;
    }

    h1 {
        font-size: 36pt;
    }

    nav table {
        text-align: center;
        margin: auto;
        width: 60%;
    }

    table.portfolio {
        max-width: 100%;
        margin: auto;
    
        font-size: 10pt;
    }

    social-media table {
        width: 40%;
    }

    img.project {
        
        max-width: 90%;
        padding: 10px;
        border-radius: 20px;
    }
}