@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@800&display=swap');

body {
    background-color: #000000;
    margin: auto;
    width: 60%;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 12pt;
    color: #c1c1c1;
}

nav {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
}

nav table {
    text-align: center;
    margin: auto;
    width: 30%;
}

nav a {
    text-decoration: none;
    color: #c1c1c1;
}



nav a:hover {
    color: #ff9500;
    
}

h1 {
    font-family: 'Prompt', sans-serif;
    font-size: 48pt;
    color: #929292;
    text-align: center;
    margin-bottom: 0px;
    margin-top: 12px;
}

dot {
    color: #ff9500;
    font-size: 64pt;
    padding-left: 6px;
    padding-bottom: 0px;
}

img.portrait {
    max-width: 60px;
    padding: 20px;
}

project img {
    max-height: 200px;
    border-radius: 2%;
}

@media screen and (max-width: 800px) {

    body {
        width: 100%;
    }

    h1 {
        font-size: 36pt;
    }

    nav table {
        text-align: center;
        margin: auto;
        width: 60%;
    }
}