@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@800&display=swap');

body {
    background-color: #000000;
    margin: auto;
    width: 60%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
    color: #929292;
    
}

p {
    line-height: 25px;
}

td.portfolio {
    padding: 15px;
    vertical-align: top;
}

nav {
    width: 100%;
    padding: 10px;
    margin-top: 120px;
}

nav table {
    text-align: center;
    margin: auto;
    width: 30%;
}

a {
    text-decoration: none;
    color: #c1c1c1;
}

a:hover {
    color: #ff9500;
}

social-media table {
    text-align: center;
    margin: auto;
    width: 16%;
    margin-top: 20px;
    margin-bottom: 20px;
}

social-media img {
    max-width: 25px;
}

hr {
    max-width: 60%;
    border-color:#ff9500;
}

h1 {
    font-family: 'Prompt', sans-serif;
    font-size: 48pt;
    color: #929292;
    text-align: center;
    margin-bottom: 0px;
    margin-top: 0px;
}

dot {
    color: #ff9500;
    font-size: 64pt;
    padding-left: 6px;
    padding-bottom: 0px;
}

footer {
    font-size: 10px;
    text-align: center;
    color: #929292;
}

img.portrait {
    max-width: 70px;
    padding: 20px;
}

img.project {
    max-height: 400px;
    border-radius: 4%;
    padding: 10px;
}

@media screen and (max-width: 800px) {

    body {
        width: 100%;
    }

    h1 {
        font-size: 36pt;
    }

    nav table {
        text-align: center;
        margin: auto;
        width: 60%;
    }
}